@using Microsoft.AspNetCore.Components.Routing
<div class="nav-container">
	<NavLink class="navlink" Match="NavLinkMatch.All" ActiveClass="active-navlink" href="/events">
		<span>Events</span>	
	</NavLink>
	<NavLink class="navlink" Match="NavLinkMatch.All" ActiveClass="active-navlink" href="/admin">
		<span>Admin</span>
	</NavLink>
</div>

